@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&family=Lato:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

summary::after {
  content: "";
  width: 32px;
  height: 32px;
  background: url("./assets/icons/arrowExpand.svg");
  background-size: cover;
  margin-left: 0.75em;
  transition: 0.3s;
}

details[open] > summary::after {
  transform: rotate(180deg);
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@layer components {
  .max-container {
    max-width: 1180px;
    margin: 0 auto;
  }

  .customShadow {
    box-shadow: 0px 12px #f1f5f9, 0 -12px #f1f5f9;
  }

  .card-zoom {
    @apply overflow-hidden w-[280px] h-[180px];
  }

  .card-zoom2 {
    @apply overflow-hidden w-[380px] h-[290px];
  }

  .card-zoom-image {
    @apply transition-all duration-500 ease-in-out transform bg-center;
  }

  .card-zoom:hover .card-zoom-image,
  .card-zoom2:hover .card-zoom-image {
    @apply scale-125;
  }
}
